<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.bn.screenshot-clipboard</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>@HOME@/dotfiles/configs/screenshot-clipboard.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>@HOME@/Downloads</string>
    </array>
    <key>ThrottleInterval</key>
    <integer>1</integer>
    <key>StandardOutPath</key>
    <string>/tmp/com.bn.screenshot-clipboard.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.bn.screenshot-clipboard.log</string>
</dict>
</plist>
