<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FinderActive</key>
	<dict>
		<key>APPEXTENSION-com.apple.finder.CreatePDFQuickAction</key>
		<true/>
		<key>APPEXTENSION-com.apple.finder.MarkupQuickAction</key>
		<true/>
		<key>APPEXTENSION-com.apple.finder.RotateQuickAction</key>
		<true/>
		<key>APPEXTENSION-com.apple.finder.TrimQuickAction</key>
		<true/>
		<key>is.workflow.actions.image.convert.finder</key>
		<true/>
		<key>is.workflow.actions.image.removebackground</key>
		<true/>
	</dict>
	<key>FinderOrdering</key>
	<dict>
		<key>APPEXTENSION-com.apple.finder.CreatePDFQuickAction</key>
		<integer>3</integer>
		<key>APPEXTENSION-com.apple.finder.MarkupQuickAction</key>
		<integer>1</integer>
		<key>APPEXTENSION-com.apple.finder.RotateQuickAction</key>
		<integer>0</integer>
		<key>APPEXTENSION-com.apple.finder.TrimQuickAction</key>
		<integer>2</integer>
		<key>is.workflow.actions.image.convert.finder</key>
		<integer>4</integer>
		<key>is.workflow.actions.image.removebackground</key>
		<integer>5</integer>
	</dict>
	<key>NSServicesStatus</key>
	<dict>
		<key>com.apple.ChineseTextConverterService - Convert Text from Simplified to Traditional Chinese - convertTextToTraditionalChinese</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.ChineseTextConverterService - Convert Text from Traditional to Simplified Chinese - convertTextToSimplifiedChinese</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.ChineseTextConverterService - Convert Text to Full Width - convertTextToFullWidth</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.ChineseTextConverterService - Convert Text to Half Width - convertTextToHalfWidth</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Dictionary - Look Up in Dictionary - doLookupService</key>
		<dict>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.FolderActionsSetup - Folder Actions Setup - openFilesFromPasteboard</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.QuickTime.service.encodeSelectedAudioFiles - Encode Selected Audio Files - runWorkflowAsService</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Safari - Add to Reading List - addToReadingList</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Safari - Search With %WebSearchProvider@ - searchWithWebSearchProvider</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Stickies - Make Sticky - makeStickyFromTextService</key>
		<dict>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Terminal - New Terminal Tab at Folder - newTerminalAtFolder</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Terminal - New Terminal at Folder - newTerminalAtFolder</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Terminal - Open man Page in Terminal - openManPage</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Terminal - Search man Page Index in Terminal - searchManPages</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.Instruments - Activity Monitor - targetFrontAppWithTemplate</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.Instruments - Allocations &amp; Leaks - targetFrontAppWithTemplate</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.Instruments - File Activity - targetFrontAppWithTemplate</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.Instruments - System Trace - targetFrontAppWithTemplate</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.instruments.backgroundinstruments - Time Profile Active Application - timeProfileFrontMost</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.instruments.backgroundinstruments - Time Profile App Under Mouse - timeProfileUnderMouse</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.instruments.backgroundinstruments - Time Profile Entire System - timeProfileSystem</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.instruments.backgroundinstruments - Toggle Instruments Recording - toggleRecordingState</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.finder - Finder/Open - open</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.finder - Finder/Reveal - reveal</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.finder - Finder/Show Info - showInfo</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.mail - Mail/New Email To Address - mailTo</key>
		<dict>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.mail - Mail/New Email With Selection - mailSelection</key>
		<dict>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.services.addToiTunesAsSpokenTrack - Add to Music as a Spoken Track - runWorkflowAsService</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.services.encodeSelectedVideoFiles - Encode Selected Video Files - runWorkflowAsService</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.services.setDesktopPicture - Set Desktop Picture - runWorkflowAsService</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.services.showMap - Show Map - runWorkflowAsService</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.systemuiserver - Open URL - openURL</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.googlecode.iterm2 - New iTerm2 Tab Here - openTab</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.googlecode.iterm2 - New iTerm2 Window Here - openWindow</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.parallels.desktop.console - Open in Windows - openInWindows</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.parallels.desktop.console - Reveal in Windows - revealInWindows</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>edu.ucsd.cs.mmccrack.bibdesk - BibDesk/Open URL in BibDesk Web Group - openURLInWebGroup</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>fr.chachatelier.pierre.LaTeXiT - LaTeXiT/Detect and typeset equations - serviceMultiLatexisation</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>fr.chachatelier.pierre.LaTeXiT - LaTeXiT/Detect and typeset equations and put result into clipboard - serviceMultiLatexisationAndPutIntoClipBoard</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>fr.chachatelier.pierre.LaTeXiT - LaTeXiT/Typeset LaTeX Maths align - serviceLatexisationAlign</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>fr.chachatelier.pierre.LaTeXiT - LaTeXiT/Typeset LaTeX Maths align and put result into clipboard - serviceLatexisationAlignAndPutIntoClipBoard</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>fr.chachatelier.pierre.LaTeXiT - LaTeXiT/Typeset LaTeX Maths display - serviceLatexisationDisplay</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>fr.chachatelier.pierre.LaTeXiT - LaTeXiT/Typeset LaTeX Maths display and put result into clipboard - serviceLatexisationDisplayAndPutIntoClipBoard</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>fr.chachatelier.pierre.LaTeXiT - LaTeXiT/Typeset LaTeX Maths inline - serviceLatexisationInline</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>fr.chachatelier.pierre.LaTeXiT - LaTeXiT/Typeset LaTeX Maths inline and put result into clipboard - serviceLatexisationInlineAndPutIntoClipBoard</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>fr.chachatelier.pierre.LaTeXiT - LaTeXiT/Typeset LaTeX Text - serviceLatexisationText</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>fr.chachatelier.pierre.LaTeXiT - LaTeXiT/Typeset LaTeX Text and put result into clipboard - serviceLatexisationTextAndPutIntoClipBoard</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>fr.chachatelier.pierre.LaTeXiT - LaTeXiT/Un-latexize the equations - serviceDeLatexisation</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>mega.mac - MEGA: Backup - handleBackupFolder</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>mega.mac - MEGA: Sync - handleSyncFolder</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>mega.mac - MEGA: Upload - handleItems</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Decrypt - decrypt</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Decrypt File - decryptFile</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Decrypt Selection to New Window - decrypt</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Encrypt - encrypt</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Encrypt File - encryptFile</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Encrypt Selection to New Window - encrypt</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Import - importFile</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Import key - importKey</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Insert my fingerprint - myFingerprint</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Insert my key - myKey</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Sign - sign</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Sign File - signFile</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Sign Selection to New Window - sign</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Validate - validateFile</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.gpgtools.gpgservices - OpenPGP: Verify - verify</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.hammerspoon.Hammerspoon - Send to Hammerspoon - processDockIconDraggedFile</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.hammerspoon.Hammerspoon - Send to Hammerspoon - processDockIconDraggedText</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>ServicesShortcutsPresent</key>
	<false/>
</dict>
</plist>
